<div class="d-flex flex-column">
  <div class="d-flex p-3 justify-content-between">
    <button type="button" class="btn btn-outline-dark mr-3 btn-lg flex-grow-1">Pomodoro</button>
    <button type="button" class="btn btn-outline-dark  mr-3 ml-3 btn-lg flex-grow-1">Short break</button>
    <button type="button" class="btn btn-outline-dark  ml-3 btn-lg flex-grow-1">Pomodoro</button>
  </div>

  <div class="d-flex justify-content-center p-3 mt-4">
    <h1>25:00 </h1>
  </div>

  <div class="d-flex justify-content-center p-3 mt-3">
    <button type="button" class="btn btn-outline-dark btn-block btn-lg w-25">Start</button>
  </div>
</div>
