<div class="d-flex justify-content-between border-bottom border-dark mt-2">
  <div class="d-flex align-items-center">
    <fa-icon [icon]="faCheck" size="1x" class="pt-1.5"></fa-icon>
    <h5 class="pt-2" style="text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;">Pomodoro timer</h5>
  </div>
  <div class="p-2">
    <button class="btn btn-light-mine mr-2">
      <fa-icon [icon]="faChart" size="1x"></fa-icon>
      Report
    </button>
    <button class="btn btn-light-mine">
      Settings
    </button>



  </div>

</div>
